<div class="container bg-light my-3 py-3">

    <h2>Cuestionario</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fuga dolores iusto omnis, optio nostrum suscipit rerum temporibus beatae, a quibusdam officiis ut ipsam consequuntur eaque cupiditate provident perferendis facere?</p>

    <form action="/cuestionario" method="post">

    {{> question}}
      
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>