<div class="container bg-light my-3 py-3">
  <h2>Dashboard</h2>
  <p>Entra con tu cuenta de administrador.</p>

  <form action="/login" method="post">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" required/>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" required/>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
  </form>


  {{#if error}}
  <div>{{error}}</div>
  {{/if}}
</div>