{{#each partials.questionContext }}

    <div class="question">
        <h2>{{this.enunciado}}</h2>
        {{#each this.opciones}}
            <div class="opcion">{{this}}</div>
        {{/each}}

    </div>

{{/each}}